[colors]
foreground={{ .Foreground }}
background={{ .Background }}

regular0={{ index .Regular 0 }}
regular1={{ index .Regular 1 }}
regular2={{ index .Regular 2 }}
regular3={{ index .Regular 3 }}
regular4={{ index .Regular 4 }}
regular5={{ index .Regular 5 }}
regular6={{ index .Regular 6 }}
regular7={{ index .Regular 7 }}

bright0={{ index .Bright 0 }}
bright1={{ index .Bright 1 }}
bright2={{ index .Bright 2 }}
bright3={{ index .Bright 3 }}
bright4={{ index .Bright 4 }}
bright5={{ index .Bright 5 }}
bright6={{ index .Bright 6 }}
bright7={{ index .Bright 7 }}
