gradient_color_1 = "{{ index .Gradient 0 }}"
gradient_color_2 = "{{ index .Gradient 1 }}"
gradient_color_3 = "{{ index .Gradient 2 }}"
gradient_color_4 = "{{ index .Gradient 3 }}"
gradient_color_5 = "{{ index .Gradient 4 }}"
